body {
    background-color: #34374C;
    color: #f6f6f6;
    display: flex;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Space Grotesk', sans-serif;
    margin:0;
    padding:0;
}

ul {
    
    list-style-type: none;
    width: 2000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EE2B47;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #99182c;
  }
  .active {
    background-color: #4CAF50;
  }
h1 {
    font-size: 48px;
    margin-left:50px;
    margin-top:100px;
}
p {
    font-size:24px;
    margin-left:50px;
    margin-top:0px;
}